---
import Post from "../../layouts/Post.astro";
import NestLogo from "../../assets/NestLogo.astro";
---

<Post time="25 feb. 2024">
  <p class="text-gray-800 mb-2">
    Desde que descubrí Nest JS, lo que realmente destaca para mí es su capacidad
    para facilitar la creación de aplicaciones escalables y mantenibles. Nest JS
    fomenta buenas prácticas de desarrollo como la inyección de dependencias,
    descoradores y el uso de servicios, lo que resulta en un código más limpio y
    fácil de entender.
  </p>
  <p class="text-gray-800 mb-2">
    Además, su integración perfecta con otras herramientas y bibliotecas
    populares, como TypeORM para la manipulación de bases de datos y GraphQL
    para la construcción de APIs flexibles, lo convierte en una opción versátil
    y poderosa para una amplia gama de proyectos.
  </p>
  <p class="text-gray-800 mb-2">
    En resumen, Nest JS no solo simplifica el proceso de desarrollo backend,
    sino que también promueve una arquitectura robusta y escalable, lo que lo
    convierte en mi elección preferida para construir aplicaciones web y API.
  </p>
  <div
    class="rounded-2xl py-12"
    style="background: linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);"
  >
    <NestLogo class="text-pink-600 bg-white rounded-full mx-auto p-12" />
  </div>
</Post>
