---
import Post from "../../layouts/Post.astro";
---

<Post time="25 feb. 2024">
  <p class="text-gray-800 mb-2">
    Desde que empecé a utilizar React JS, quedé fascinada por su capacidad para
    organizar el código de manera modular y su eficiencia en el renderizado. Su
    enfoque en componentes reutilizables y su robusta comunidad hacen que sea mi
    elección predilecta para el desarrollo frontend.
  </p>
  <img class="rounded-2xl" src="/skills/react.png" alt="React JS Background" />
</Post>
