---
import SocialLinks from "./SocialLinks.astro";
---

<div class="px-6 mb-3">
  <div class="flex items-center gap-2">
    <p class="text-xl font-bold">Michelle Sánchez</p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2.5"
      stroke="currentColor"
      class="w-6 h-6 text-pink-400"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
      ></path>
    </svg>
  </div>
  <p class="text-gray-600">@Miche-san</p>
  <p class="text-gray-800 my-3">
    Soy una estudiante de 4rto año de Ingenería de Software que busca
    especializarse en el desarrollo de aplicaciones web.
  </p>
  <SocialLinks />
</div>
