---

---

<footer class="relative bg-center bg-cover p-12" style="background-image: url('/footer.gif');">
  <div class="absolute top-0 left-0 bg-black bg-opacity-30 w-full h-ful" />
  <p class="relative text-center md:text-end text-white font-semibold">Todos los derechos reservados. &copy; 2024</p>
</footer>