---

---

<div class="h-20">
  <div
    class="translate-x-6 -translate-y-1/2 rounded-full border-4 border-white h-40 w-40"
  >
    <img class="rounded-full" src="/me.png" alt="Mi foto de perfil" />
    <div
      class="absolute top-0 left-0 hover:bg-black hover:bg-opacity-25 h-full w-full rounded-full duration-300"
    >
    </div>
  </div>
</div>
